@model IEnumerable<VeritabaniProjesi.Models.Post>

@{
    ViewData["Title"] = Context.Request.Query["title"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-title="@Model.First().PostTitle">Create New</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-title = "@ViewData["Title"]">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-title = "@ViewData["Title"]">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-title = "@ViewData["Title"]">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

else
{
    <h3 class="container">No Entry Has Been Found</h3>
}