@model IEnumerable<VeritabaniProjesi.Models.Announcement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px;">
<h1>Duyurular</h1>

<p>
    <a asp-action="Create">Yenisini Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                İçerik<!--@Html.DisplayNameFor(model => model.Content)-->
            </th>
            <th>
                Kaynaklar<!--@Html.DisplayNameFor(model => model.SourceListString)-->
            </th>
            <th>
                Tarih<!--@Html.DisplayNameFor(model => model.Date)-->
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceListString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Title">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Title">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Title">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>