@page "{id:int}"
@model VeritabaniProjesi.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
